:root {
  --color-primary: rgb(11, 7, 54);
  --color-primary-hover: rgb(32, 25, 109);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 233, 233);
  font-family: "Otomanopee One", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand-logo {
  margin-left: 1rem;
}

nav {
  background-color: var(--color-primary);
}

.nav-li:hover {
  background-color: var(--color-primary-hover);
}

.btn {
  background-color: var(--color-primary);
  font-family: "Otomanopee One", sans-serif;
  transition: all 300ms;

  border-radius: 20px;
}

.btn:hover {
  background-color: var(--color-primary-hover);
  transform: scale(1.1);
}

h5 {
  margin-bottom: 3rem;
}

.section-edit {
  width: 60vw;
  margin: 0 auto;
}

a {
  color: rgb(51, 51, 51);
}
